@model IEnumerable<ADGroup4L3C3.Models.Stock>

@{
    ViewBag.Title = "Stock";
}

@section content{
  
    <div class="page">
        <div class="page-content d-flex align-items-stretch">
            <div class="col-lg-12">
                <section class="tables">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center">
                                        <h3 class="h4"> @Html.ActionLink("Add Stock", "Create")</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Product Name
                                                        </th>
                                                        <th>
                                                            Quantity Remaining
                                                        </th>
                                                        <th>
                                                            Date Created
                                                        </th>
                                                       
                                                        <th>
                                                            Modified By
                                                        </th>
                                                        <th>
                                                            Action
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Product.ProductName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.QuantityRemaining)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.DateCreated)
                                                            </td>
                                                            
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.UserAccounts.Email)
                                                            </td>
                                                            <td>
                                                                <a href='@Url.Action("Edit", "Stock", new { id = item.StockID })' class="btn btn-info">Edit</a>
                                                                <a href='@Url.Action("Delete", "Stock" ,new { id = item.StockID })' class="btn btn-danger">Delete</a>


                                                              
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
}
