@model ADGroup4L3C3.Models.UserDetails

@{
    ViewBag.Title = "Customer Details";
}

@section content{
    <div class="page">
        <div class="page-content d-flex align-items-stretch">
            <div class="content-inner">
                <section class="forms">
                    <div class="container-fluid">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <!-- Form Elements -->
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header d-flex align-items-center">
                                            <h3 class="h4"> Add User Detail</h3>
                                        </div>
                                        <div class="card-body">
                                            @Html.HiddenFor(model => model.UserDetailD)
                                            <div class="form-group row">
                                                <label class="col-sm-3 form-control-label">User Account</label>
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("UserAccountID", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.UserAccountID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="line"></div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 form-control-label">First Name</label>
                                                <div class="col-sm-9">
                                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="line"></div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 form-control-label">Last Name</label>
                                                <div class="col-sm-9">
                                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="line"></div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 form-control-label">Birth Date</label>
                                                <div class="col-sm-9">
                                                    @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="line"></div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 form-control-label">Contact Number</label>
                                                <div class="col-sm-9">
                                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="line"></div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 form-control-label">Address</label>
                                                <div class="col-sm-9">
                                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="line"></div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 form-control-label">Date Created</label>
                                                <div class="col-sm-9">
                                                    @Html.EditorFor(model => model.DateCreated, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.DateCreated, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="line"></div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 form-control-label">Date Modified</label>
                                                <div class="col-sm-9">
                                                    @Html.EditorFor(model => model.DateModified, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.DateModified, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="line"></div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 form-control-label">Modified By</label>
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("ModifiedBy", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.ModifiedBy, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="line"></div>
                                            <div class="form-group row">
                                                <div class="col-sm-4">
                                                    <button type="submit" class="btn btn-secondary"><a href="/UserDetails" style="text-decoration:none;color:white">Cancel</a></button>
                                                    <button type="submit" class="btn btn-primary" value="Create">Create</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
}

}