@model IEnumerable<ADGroup4L3C3.Models.SupplierDetail>

@{
    ViewBag.Title = "Supplier Details";
}

@section content{

    <div class="page">
        <div class="page-content d-flex align-items-stretch">
            <div class="col-lg-12">
                <section class="tables">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center">
                                        <h3 class="h4"> @Html.ActionLink("Add Supplier Details", "Create")</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Contact Person Name
                                                        </th>
                                                        <th>
                                                            Contact Number
                                                        </th>
                                                        <th>
                                                            Address
                                                        </th>
                                                        <th>
                                                            Supplier
                                                        </th>
                                                        <th>
                                                            Date Created
                                                        </th>
                                                        <th>
                                                            Action
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
    {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ContactPersonName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ContactNumber)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Address)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Suppliers.SupplierName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.DateCreated)
                                                    </td>
                                                    <td>
                                                        <a href='@Url.Action("Edit", "SupplierDetail" , new { id = item.SupplierDetailID })' class="btn btn-info">Edit</a>
                                                        <a href='@Url.Action("Delete", "SupplierDetail" ,new { id = item.SupplierDetailID })' class="btn btn-danger">Delete</a>


                                                        
                                                    </td>
                                                </tr>
}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
}
