@model IEnumerable<ADGroup4L3C3.Models.Product>

@{
    ViewBag.Title = "Products";
}

@section content{
    <div class="page">
        <div class="page-content d-flex align-items-stretch">
            <div class="col-lg-12">
                <section class="tables">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center">
                                        <h3 class="h4">@Html.ActionLink("Add New Product", "Create")</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Price</th>
                                                        <th>Description</th>
                                                        <th>Date Created</th>
                                                        <th>Product Type</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.ProductName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.PricePerItem)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Description)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.DateCreated)
                                                            </td>                                                           
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.ProductType.ProductTypeName)
                                                            </td>
                                                            <td>
                                                                <a href='@Url.Action("Details", null , new { id = item.ProductID })' class="btn btn-primary">Details</a>
                                                                <a href='@Url.Action("Edit", "Products" , new { id = item.ProductID })' class="btn btn-info">Edit</a>
                                                                <a href='@Url.Action("Delete", "Products" , new { id = item.ProductID })' class="btn btn-danger">Delete</a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>




}
