@model IEnumerable<ADGroup4L3C3.Models.ProductList>

@{
    ViewBag.Title = "Categories";
}


@section content{
    <div class="row">
        @if (ViewBag.Error != null)
        {
            <div id="main-alert" class="alerts">
                <div class="alert alert-danger">
                    @ViewBag.Error
                </div>
            </div>
        }
    </div>
    <div class="page">
        <div class="page-content d-flex align-items-stretch">
            <div class="col-lg-12">
                <section class="tables">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center">
                                        <h3 class="h4">Items Stocked</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Product ID
                                                        </th>
                                                        <th>
                                                            Product Name
                                                        </th>
                                                        <th>
                                                            Quantity Remaining
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.ProductID)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.ProductName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.QuantityRemaining)
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                            <p> @Html.ActionLink("Back to List", "Index")</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

}
