@model IEnumerable<ADGroup4L3C3.Models.UserAccounts>

@{
    ViewBag.Title = "Customers";
}

@section content{
  
    <div class="page">
        <div class="page-content d-flex align-items-stretch">
            <div class="col-lg-12">
                <section class="tables">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center">
                                        <h3 class="h4"> @Html.ActionLink("Add a Customer", "Create")</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>                       
                                                        <th>
                                                            User Type
                                                        </th>
                                                        <th>
                                                            Email
                                                        </th>
                                                        
                                                        <th>
                                                            Date Created
                                                        </th>
                                                        <th>
                                                            Date Modified
                                                        </th>
                                                       
                                                        <th>
                                                            Action
                                                        </th>


                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var item in Model)
                                                    {

                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.UserType.UserTypeName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Email)
                                                            </td>
                                                            
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.DateCreated)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.DateModified)
                                                            </td>
                                                            
                                                            <td>
                                                                <a href='@Url.Action("Purchases", null , new { id = item.UserAccountID })' class="btn btn-primary">Purchases</a>
                                                                <a href='@Url.Action("Edit", "UserAccounts",  new { id = item.UserAccountID })' class="btn btn-info">Edit</a>
                                                                <a href='@Url.Action("Delete", "UserAccounts" ,new { id = item.UserAccountID })' class="btn btn-danger">Delete</a>
                                                            </td>
                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


}
